.button_button__eJwei {
    color: var(--theme-secondary);
    padding: 2.1333333333vw 2.6666666667vw;
    border-radius: 10.6666666667vw;
    position: relative;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(#fff, #000)
}

.button_button__eJwei[disabled] {
    filter: grayscale(1);
    pointer-events: none
}

.button_button__eJwei.button_fill__qTx0U {
    background-color: var(--theme-secondary);
    color: var(--theme-primary)
}

@media(min-width:800px) {
    .button_button__eJwei {
        border-radius: 2.7777777778vw;
        padding: .8333333333vw
    }
}

.button_button__eJwei .button_text__QEXTw {
    position: relative;
    display: flex;
    align-items: center;
    transition-duration: .8s;
    transition-property: color;
    transition-timing-function: var(--ease-out-expo)
}

.button_button__eJwei.button_icon__uySPo {
    display: inline-flex;
    align-items: center;
    padding: 2.1333333333vw 2.6666666667vw
}

@media(min-width:800px) {
    .button_button__eJwei.button_icon__uySPo {
        padding: .5555555556vw .8333333333vw
    }
}

.button_button__eJwei .button_svg-wrapper__0A__7 {
    position: relative;
    width: 4vw;
    margin-left: 1.0666666667vw;
    overflow: hidden;
    z-index: 1
}

@media(max-width:800px) {
    .button_button__eJwei .button_svg-wrapper__0A__7 {
        padding-right: .2666666667vw
    }

    .button_button__eJwei .button_svg-wrapper__0A__7>* {
        transform-origin: center;
        transform: rotate(var(--arrow-rotate))
    }
}

@media(min-width:800px) {
    .button_button__eJwei .button_svg-wrapper__0A__7 {
        padding: auto 0;
        width: 1.6666666667vw;
        height: 1.6666666667vw;
        margin-left: .4166666667vw;
        border-radius: 100%
    }

    .button_button__eJwei .button_svg-wrapper__0A__7:after {
        content: "";
        position: absolute;
        inset: 0;
        border: 1px solid;
        border-radius: inherit
    }
}

.button_button__eJwei .button_north__dWyFp {
    --first-arrow-end-x: -50%;
    --first-arrow-end-y: 100%;
    --second-arrow-start-x: -50%;
    --second-arrow-start-y: -150%;
    --arrow-rotate: 135deg
}

.button_button__eJwei .button_southeast__67Q3s {
    --first-arrow-end-x: 0;
    --first-arrow-end-y: -100%;
    --second-arrow-start-x: -120%;
    --second-arrow-start-y: 20%;
    --arrow-rotate: 0
}

.button_button__eJwei .button_enter__9BUhs,
.button_button__eJwei .button_leave__XDWuz {
    position: absolute;
    width: 1.8055555556vw;
    height: 1.8055555556vw;
    top: 50%;
    left: 50%
}

.button_button__eJwei .button_leave__XDWuz {
    transform: translate3d(-50%, -50%, 0) rotate(var(--arrow-rotate));
    transition: .4s transform var(--ease-in-out-circ)
}

.button_button__eJwei .button_enter__9BUhs {
    fill: var(--theme-accent);
    transition: .4s transform var(--ease-in-out-circ);
    transform: translate3d(var(--second-arrow-start-x), var(--second-arrow-start-y), 0) rotate(var(--arrow-rotate))
}

.button_button__eJwei:after {
    border: 1px solid var(--theme-secondary);
    z-index: 1;
    border-radius: inherit;
    transition-property: border-color
}

.button_button__eJwei:after,
.button_button__eJwei:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    transition-duration: .8s;
    transition-timing-function: var(--ease-out-expo)
}

.button_button__eJwei:before {
    background-color: var(--theme-hover);
    transform: translateY(100%);
    transition-property: transform, border-radius;
    z-index: 0
}

.button_button__eJwei.button_hover__RrRto {
    color: var(--theme-accent)
}

.button_button__eJwei.button_hover__RrRto:before {
    transform: translateY(0);
    border-radius: inherit
}

.button_button__eJwei.button_hover__RrRto .button_enter__9BUhs {
    transform: translate3d(-50%, -50%, 0) rotate(var(--arrow-rotate));
    transition-delay: 0
}

.button_button__eJwei.button_hover__RrRto .button_leave__XDWuz {
    transform: translate3d(var(--first-arrow-end-x), var(--first-arrow-end-y), 0) rotate(var(--arrow-rotate));
    transition-delay: 50ms
}

.button_button__eJwei.button_hover__RrRto:after {
    transition-delay: .2s;
    border-color: var(--theme-hover)
}

@media(hover:hover) {
    .button_button__eJwei:hover {
        color: var(--theme-accent)
    }

    .button_button__eJwei:hover:before {
        transform: translateY(0);
        border-radius: inherit
    }

    .button_button__eJwei:hover .button_enter__9BUhs {
        transform: translate3d(-50%, -50%, 0) rotate(var(--arrow-rotate));
        transition-delay: 0
    }

    .button_button__eJwei:hover .button_leave__XDWuz {
        transform: translate3d(var(--first-arrow-end-x), var(--first-arrow-end-y), 0) rotate(var(--arrow-rotate));
        transition-delay: 50ms
    }

    .button_button__eJwei:hover:after {
        transition-delay: .2s;
        border-color: var(--theme-hover)
    }
}